@media screen and (min-width: 960px) {
    *{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        }
    #a{
        background-color: aqua;
     
    }
    #b{
        background-color: rgb(119, 240, 199);
        
    }
    #c {
        background-color: lightblue;
       
    }
    #d {
        background-color: lightblue;
       
    }
    #e, #f, #g, #h,  {
        background-color: rgb(19, 60, 245);
        color:white;
       
        
    }
  
    #i{
        background-color: darkblue;
        color:white;
        
    }

}