@media screen and (min-width: 960px) {
    body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        }   
    
    #c {
        flex-direction: column-reverse;
       
       
    }
    #e{ 
        justify-content:row-reverse;
        
    }
  
    #i{
       flex-direction: row;
    }

}